#ja-cssmenu {
	margin: 0; /* all lists */
	padding: 0;
}

#ja-cssmenu ul {
	margin: 0; /* all lists */
	padding: 0;
}

#ja-cssmenu li {
	margin: 0 0 0 4px; /* all list items */
	padding: 0;
	float: left;
	display: block;
	background: none;
	background: none;
	cursor: pointer;
}

#ja-cssmenu li ul {
	width: 12em;
	position: absolute; /* second-level lists */
	z-index: 99;
	left: -999em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
	height: auto;
	w\idth: 15.9em;
}

#ja-cssmenu li ul ul {
	margin: -2em 0 0 15em; /* third-and-above-level lists */
}

#ja-cssmenu li li {
	padding: 0 1em 0 0;
	margin: 0;
	width: 14.9em;
}
#ja-cssmenu li ul li {
	padding: 0 1em 0 0;
	margin: 0;
	width: 14.9em;
	height:30px;
}
#ja-cssmenu ul a {
	width: 10em;
	w\idth: 10.8em;
}

#ja-cssmenu li:hover ul ul, #ja-cssmenu li:hover ul ul ul,
#ja-cssmenu li.sfhover ul ul, #ja-cssmenu li.havechildsfhover ul ul, #ja-cssmenu li.havechild-activesfhover ul ul, #ja-cssmenu li.activesfhover ul ul,
#ja-cssmenu li.sfhover ul ul ul, #ja-cssmenu li.havechildsfhover ul ul ul, #ja-cssmenu li.havechild-activesfhover ul ul ul, #ja-cssmenu li.activesfhover ul ul ul {
	left: -999em;
}

/* This "unhides" the sub-menus (left: -999em is what hides them) */
#ja-cssmenu li:hover ul, #ja-cssmenu li li:hover ul, #ja-cssmenu li li li:hover ul,
#ja-cssmenu li.sfhover ul, #ja-cssmenu li.havechildsfhover ul, #ja-cssmenu li.havechild-activesfhover ul, #ja-cssmenu li.activesfhover ul,
#ja-cssmenu li li.sfhover ul, #ja-cssmenu li li.havesubchildsfhover ul, #ja-cssmenu li li.havesubchild-activesfhover ul, #ja-cssmenu li li.activesfhover ul,
#ja-cssmenu li li li.sfhover ul, #ja-cssmenu li li li.havesubchildsfhover ul, #ja-cssmenu li li li.havesubchild-activesfhover ul, #ja-cssmenu li li li.activesfhover ul {
	left: auto;
}

/* STYLING THE MENU
-----------------------------------*/
/* 1st level */
#ja-cssmenu li a {
	display: block;
	text-decoration: none;
	line-height:38px;
/*	line-height: 30px;
	padding: 0 0 0 10px;
	margin-right:5px;
	margin: 0 4px 0 20px;*/
	color: #AAAAAA;
	text-transform: uppercase;
	font-weight: bold;
/*	background: url(../images/tab.png) no-repeat top left ;*/
}

#ja-cssmenu li a span {
	display: block;
	  margin: 0 4px 0 20px;
	/*padding: 0 15px 0 5px;
	margin-right:-5px;
	background: url(../images/tab.png) no-repeat top right;*/
}
#ja-cssmenu li li a span {
	display: block;
	  margin: 0 0px 0 0px;
	/*padding: 0 15px 0 5px;
	margin-right:-5px;
	background: url(../images/tab.png) no-repeat top right;*/
}
#ja-cssmenu li a:hover,
#ja-cssmenu li a:active,
#ja-cssmenu li a:focus {
}

#ja-cssmenu li:hover a,
#ja-cssmenu li.sfhover a,
#ja-cssmenu li.havechildsfhover a,
#ja-cssmenu li.havechild-activesfhover a {
	color: #FCEE21;
	/*background: url(../images/tab-hover.png)  no-repeat top left ;*/
}


#ja-cssmenu li:hover a span,
#ja-cssmenu li.sfhover a span,
#ja-cssmenu li.havechildsfhover a span,
#ja-cssmenu li.havechild-activesfhover a span {
	/*background: url(../images/tab-hover.png)  no-repeat top right;*/
	 background-color: transparent;
    background-image: url("../images/nav_over_bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 38px;
}
#ja-cssmenu li ul li:hover a span,
#ja-cssmenu li ul li.sfhover a span,
#ja-cssmenu li ul li.havechildsfhover a span,
#ja-cssmenu li ul li.havechild-activesfhover a span {
	/*background: url(../images/tab-hover.png)  no-repeat top right;*/
	 background-color: transparent;
    background-image: url("../images/nav_over_bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 30px;
}
#ja-cssmenu li.active a,
#ja-cssmenu li a.active,
#ja-cssmenu li a.active:hover,
#ja-cssmenu li a.active:active,
#ja-cssmenu li a.active:focus {
	color: #FFFFFF;
	/*background:url(../images/tab-active.png) left top no-repeat ;*/

}
#ja-cssmenu li.active a span,
#ja-cssmenu li a.active span,
#ja-cssmenu li a.active:hover span,
#ja-cssmenu li a.active:active span,
#ja-cssmenu li a.active:focus span {
	background-color: transparent;
	background-image: url(../images/nav_over_bg.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 38px;
}

/* 2nd level and above */
#ja-cssmenu li ul {
	border: 1px solid #5A5A5A;
	background: url(../images/grad-1.gif) repeat-x bottom #5A5A5A;
}

#ja-cssmenu li ul ul {
	border: 1px solid #444444;
}

#ja-cssmenu li ul li {
	border-top: 1px solid #666666;
	border-right: none;
	background: none;		
}

#ja-cssmenu li ul a {
	border-right: none;
	margin: 0;
	padding: 7px 10px;
	line-height: normal;
	height: auto;
	background: none !important;
	color: #FFFFFF !important;
	text-transform: none;
	font-weight: normal;
}

#ja-cssmenu li ul a span {
	background: none !important;
}

#ja-cssmenu li.havesubchild,
#ja-cssmenu li.havesubchild-active {
	background: url(../images/arrow.png) no-repeat 94% 50%;
}

#ja-cssmenu li ul a:hover,
#ja-cssmenu li ul a:active,
#ja-cssmenu li ul a:focus,
#ja-cssmenu ul li:hover,
#ja-cssmenu ul li.sfhover,
#ja-cssmenu ul li.havesubchildsfhover,
#ja-cssmenu ul li.havesubchild-activesfhover,
#ja-cssmenu ul ul li:hover,
#ja-cssmenu ul ul li.sfhover,
#ja-cssmenu ul ul li.havesubchildsfhover,
#ja-cssmenu ul ul li.havesubchild-activesfhover {
	background: #202020;
	color: #FF9B14 !important;
}

#ja-cssmenu ul li a.active {
	background: none !important;
	color: #FF9B14 !important;
}

#ja-cssmenu ul li.active a:hover,
#ja-cssmenu ul li a.active:hover,
#ja-cssmenu ul li a.active:active,
#ja-cssmenu ul li a.active:focus {
	color: #FF9B14 !important;
}